torch
torchvision
albumentations
tensorboard
pyyaml
scikit-learn
kaggle
matplotlib
seaborn
tqdm
streamlit
plotly
cvlib
streamlit-echarts
tensorflow
streamlit_elements
mediapipe 
pydantic-settings
openpyxl 